################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/JN_WEB/.vs/JN_WEB.slnx/v18/.suo
